In [1]:
import pandas as pd

In [2]:
url ='https://eleksyondata3.gmanews.tv/all_lvgs_results/REGION_IV-A_LAGUNA_SAN_PEDRO_CITY_BAGONG_SILANG.json.gz'
df = pd.read_json(url)
df

,result,location_code,total_voters_processed,election_returns_processed,result_as_of,processed_by
0,"{'contest': 'PRESIDENT PHILIPPINES', 'candidat...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
1,"{'contest': 'VICE-PRESIDENT PHILIPPINES', 'can...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
2,"{'contest': 'SENATOR PHILIPPINES', 'candidates...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
3,"{'contest': 'PROVINCIAL GOVERNOR LAGUNA', 'can...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
4,"{'contest': 'PROVINCIAL VICE-GOVERNOR LAGUNA',...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
5,"{'contest': 'MEMBER, SANGGUNIANG PANLALAWIGAN ...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
6,"{'contest': 'MEMBER, HOUSE OF REPRESENTATIVES ...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
7,"{'contest': 'MAYOR LAGUNA - SAN PEDRO CITY', '...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
8,{'contest': 'VICE-MAYOR LAGUNA - SAN PEDRO CIT...,REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
9,"{'contest': 'MEMBER, SANGGUNIANG PANLUNGSOD LA...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL
10,"{'contest': 'PARTY LIST PHILIPPINES', 'candida...",REGION IV-A|LAGUNA|SAN PEDRO CITY|BAGONG SILANG,2514/3142,5/5,05/18/2016 19:45:00,LOCAL

In [3]:
vp_election_result = df['result'][1]
vp_election_result

{'contest': 'VICE-PRESIDENT PHILIPPINES',
 'candidates': [{'name': 'CAYETANO, ALAN PETER (IND)',
   'vote_count': '231',
   'party': 'LIBERAL PARTY|IND'},
  {'name': 'ESCUDERO, CHIZ (IND)',
   'vote_count': '342',
   'party': 'LIBERAL PARTY|IND'},
  {'name': 'MARCOS, BONGBONG (IND)',
   'vote_count': '1190',
   'party': 'LIBERAL PARTY|IND'},
  {'name': 'TRILLANES, ANTONIO IV (IND)',
   'vote_count': '37',
   'party': 'LIBERAL PARTY|IND'},
  {'name': 'ROBREDO, LENI DAANG MATUWID (LP)',
   'vote_count': '595',
   'party': 'LIBERAL PARTY|LP'},
  {'name': 'HONASAN, GRINGO (UNA)',
   'vote_count': '32',
   'party': 'UNITED NATIONALIST ALLIANCE|UNA'}]}

In [4]:
vp_election_result = vp_election_result.get('candidates')
vp_election_result

[{'name': 'CAYETANO, ALAN PETER (IND)',
  'vote_count': '231',
  'party': 'LIBERAL PARTY|IND'},
 {'name': 'ESCUDERO, CHIZ (IND)',
  'vote_count': '342',
  'party': 'LIBERAL PARTY|IND'},
 {'name': 'MARCOS, BONGBONG (IND)',
  'vote_count': '1190',
  'party': 'LIBERAL PARTY|IND'},
 {'name': 'TRILLANES, ANTONIO IV (IND)',
  'vote_count': '37',
  'party': 'LIBERAL PARTY|IND'},
 {'name': 'ROBREDO, LENI DAANG MATUWID (LP)',
  'vote_count': '595',
  'party': 'LIBERAL PARTY|LP'},
 {'name': 'HONASAN, GRINGO (UNA)',
  'vote_count': '32',
  'party': 'UNITED NATIONALIST ALLIANCE|UNA'}]

In [5]:
vp_election_result = pd.DataFrame(vp_election_result)
vp_election_result.drop('party', axis='columns', inplace=True)
vp_election_result

                               name vote_count
0        CAYETANO, ALAN PETER (IND)        231
1              ESCUDERO, CHIZ (IND)        342
2            MARCOS, BONGBONG (IND)       1190
3       TRILLANES, ANTONIO IV (IND)         37
4  ROBREDO, LENI DAANG MATUWID (LP)        595
5             HONASAN, GRINGO (UNA)         32

In [6]:
vp_election_result['party'] = vp_election_result['name'].str[-4:-1]
vp_election_result

                               name vote_count party
0        CAYETANO, ALAN PETER (IND)        231   IND
1              ESCUDERO, CHIZ (IND)        342   IND
2            MARCOS, BONGBONG (IND)       1190   IND
3       TRILLANES, ANTONIO IV (IND)         37   IND
4  ROBREDO, LENI DAANG MATUWID (LP)        595   (LP
5             HONASAN, GRINGO (UNA)         32   UNA

In [7]:
vp_election_result['party'] = vp_election_result['party'].str.strip('(')
vp_election_result

                               name vote_count party
0        CAYETANO, ALAN PETER (IND)        231   IND
1              ESCUDERO, CHIZ (IND)        342   IND
2            MARCOS, BONGBONG (IND)       1190   IND
3       TRILLANES, ANTONIO IV (IND)         37   IND
4  ROBREDO, LENI DAANG MATUWID (LP)        595    LP
5             HONASAN, GRINGO (UNA)         32   UNA

In [8]:
vp_election_result['name'] = vp_election_result['name'].str.strip('(INDLPUA)')
vp_election_result

                           name vote_count party
0         CAYETANO, ALAN PETER         231   IND
1               ESCUDERO, CHIZ         342   IND
2             MARCOS, BONGBONG        1190   IND
3        TRILLANES, ANTONIO IV          37   IND
4  ROBREDO, LENI DAANG MATUWID         595    LP
5              HONASAN, GRINGO          32   UNA

In [9]:
second_column = vp_election_result.pop('party')
vp_election_result.insert(1,'party', second_column)
vp_election_result

                           name party vote_count
0         CAYETANO, ALAN PETER    IND        231
1               ESCUDERO, CHIZ    IND        342
2             MARCOS, BONGBONG    IND       1190
3        TRILLANES, ANTONIO IV    IND         37
4  ROBREDO, LENI DAANG MATUWID     LP        595
5              HONASAN, GRINGO    UNA         32